# Android
android/BansosApp/build/
android/BansosService/build/
android/keystore.jks
android/bantuan-sosial.zip
android/icon-preview.png
*.apk

# Python
__pycache__/
*.pyc
*.pyo
*.db
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
